#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui inverted blue menu">
      <a class="ui active item" href="/">Welcome</a>
      <a class="ui item" href="/Signup">Sign Up</a>
      <a class="ui item" href="/Login">Log In</a>
      <a class="ui item" href="/Donation">Make Donation</a>
      <a class="ui item" href="/Logout">Logout</a>
</nav>
<h1>Welcome to Donation</h1>

<table>
	<tr>
		<td>
			<p>Homer for President</p>
			<p>Time for a change</p>
		    <p>Out with the Old</p>
			<p>In with Homer</p>
			<p><a href ="/Signup">Register</a> or <a href ="/Login">sign in. </a></p>
			<p>We look forward to your generous contribution.</p>
		</td>
		<td>
		    <img class="ui medium circular image" src="/public/images/HomerForPresident.gif">
		</td>
	</tr>
</table>