#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui inverted blue menu">
      <a class="ui active item" href="/"><i class="home icon"></i>Welcome</a>
      <a class="ui item" href="/Signup"><i class="add user icon"></i>Sign Up</a>
      <a class="ui item" href="/Login"><i class="sign in icon"></i>Log In</a>
      <a class="ui item" href="/Donation"><i class="dollar icon"></i>Make Donation</a>
      <a class="ui item" href="/Logout"><i class="sign out icon"></i>Logout</a>
</nav>
<h1>Welcome to Donation</h1>

<table>
	<tr>
		<td>
			<p>Homer for President</p>
			<p>Time for a change</p>
		    <p>Out with the Old</p>
			<p>In with Homer</p>
			<p><a href ="/Signup"><button class="ui blue submit button">Register</button></a> or <a href ="/Login"><button class="ui blue submit button">sign in</button> </a></p>
			<p>We look forward to your generous contribution.</p>
		</td>
		<td>
		    <img class="ui medium circular image" src="/public/images/HomerForPresident.gif">
		</td>
	</tr>
</table>