#{extends 'main.html' /}
#{set title:'Signup' /}

<nav class="ui inverted blue menu">
      <a class="ui item" href="/">Welcome</a>
      <a class="ui active item" href="/Signup">Sign Up</a>
      <a class="ui item" href="/Login">Log In</a>
      <a class="ui item" href="/Donation">Make Donation</a>
      <a class="ui item" href="/Logout">Logout</a>
</nav>
<div class="ui grid">
  <div class="eight wide column">
	<section class="ui segment">
	  <H3> Signup or Log in to the Spacebook Service </H3>
	</section>
  </div>
</div>	